
<!-- HOME -->
<section class="module module-header bg-dark bg-dark-50" data-background="<%= asset_path("Binoculars.jpg") %>">

  <div class="container">

    <!-- MODULE TITLE -->
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <h1 class="module-title font-alt align-center">Welcome to Mapping the News</h1><h3 class="align-center">Please Login Below:</h3>
        <h3 class="module-subtitle font-inc align-center">

        </h3>

        <div class="panel-body">
         <div class="error_box">

         <font color="#e55b5b" class="align-center" font-style="italic"><% if flash[:message] %>
            <h4><%= flash[:message] %></h4>
        <br>
    <% end %>
    </font>
    </div>

        <%= form_for :user, {:url => '/login', :class => 'form-horizontal'} do |f| %>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %><br>

          </div>
        </div>
        <div class="form-group">
         <div class="col-md-12">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          <a href="javascript:void(0)" class="help-block align-center">Forgot Your Password?</a><br>
        </div>
      </div>
      <div class="form-group">
       <div class="col-md-12">
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>

        <br><center>  <%= link_to "New user? Sign up now!", signup_path, class: "btn btn-secondary btn-block" %> </center>

        <% end %>
      </div>
    </div>
  </div>

</div>

</div>
</div>
<%= render template: "layouts/_contact_bottom" %>

</section >
