<%= render template: 'layouts/_navbar' %>

<h1>Get to know your world. Today.</h1>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;Browse the list below for today's top articles around the world:</h3>

<ul class="list-group">

  <% @articles.each_with_index do |article, index|%>

    <li class="list-group-item">
        
        <h5>

          (<%= link_to article.country_name, country_articles_path(article.country.slug_name) %>).

          <strong id=<%= index %>>
          <%= article.title %>. <%= link_to "link", article.url, :target => "_blank", :class => "country-articles-links" %> 
          
          <%= button_tag "Add to Favorites", class: "add_to_favorites_articles btn btn-default", remote: true %>
          
          <%#= #button_tag "Save for Later", class: "save_for_later_countries btn btn-default", remote: true%>
          
          </strong>

        </h5>
    </li>
  <% end %>
</ul>

  <%= render template: "layouts/_footer" %>

 



