
<!-- HOME -->
<section class="module module-header bg-dark bg-dark-50" data-background="<%= asset_path("Binoculars.jpg") %>">

  <div class="container">

    <!-- MODULE TITLE -->
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <h1 class="module-title font-alt align-center">Welcome to Mapping the News</h1><h3 class="align-center">The World Awaits.</h3>
        <h3 class="module-subtitle font-inc align-center">

        </h3>

        <div class="panel-body">
         <div class="error_box">

         <font color="#e55b5b" class="align-center" font-style="italic"><% if flash[:errors] %>
      <h5><%= flash[:message] %>:</h5>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
        <br>
    <% end %>
    </font>
    </div>

          <h4 class="align-center">Already a member? <strong><%= link_to "Sign In", login_path %></strong></h4> 


      <%= form_for @user, url: '/signup' do |f| %>

        <div class="form-group">
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
        </div>

         <div class="form-group">
          <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email' %>
        </div>
         <div class="form-group">
         <%= f.password_field :password, class: 'form-control', placeholder: "Password"%>
        </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Retype your password"%><br>
        </div>

      <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
    <% end %>


      </div>
    </div>
  </div>

</div>
<%= render template: "layouts/_contact_bottom" %>

</section >


