<%= render template: 'layouts/_navbar' %>


<!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="<%= asset_path("looking-glass.jpg") %>">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">

            <h1 class="module-title font-alt align-center"><br><br>Today's Events Around the world</h1>
            <h3 class="module-subtitle font-inc align-center">Scroll, search, explore.

            
            </h3>

            <div class="module-subtitle font-inc align-center">
              <div class="post-meta font-inc">
              </div>
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

      </div>

    </section >

<!-- BLOG SINGLE -->
    <section class="module">

      <div class="container">

        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">

            <!-- POST -->
            <div class="post">

              <!-- <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-1.jpg" alt=""></a>
              </div> -->

              <div class="post-entry">

<!-- my code!!
 -->

<ol class="list-group">
<% @countries.each do |country| %>
  <li class="list-group-item">

    <h3><%= link_to country.name, country_articles_path(country.slug_name)%></h3><h5>Today's top 10 articles:
    <ul class="list-group">
      
      <br>
      <% country.articles.each do |article| %>
      <li class="list-group-item">
        <%= link_to article.title, article.url, :target => "_blank" %>. <br><%= button_tag "Add to Favorites", class: "add_to_favorites_articles btn btn-default", remote: true %>
      </li>
      <% end %>
      
    </ul>
    </h5>


  </li>
<% end %>
</ol>

</div>

            </div>

  <%= render template: "layouts/_footer" %>

