<%= render template: 'layouts/_navbar' %>

<!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade bg-dark-50" data-background="<%= asset_path("globe.jpg") %>">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-3 font-alt m-b-20">
          <h1>Welcome to <%= @country.name %>!</h1>

        </div>
        <div class="hs-title-size-1 font-inc">
            Browse below for articles
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->

      <!-- /HOME -->
<!-- BLOG SINGLE -->
    <section class="module">

      <div class="container">

        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">

            <!-- POST -->
            <div class="post">

              <!-- <div class="post-thumbnail">
                <a href="blog-single.html"><img src="assets/images/post-1.jpg" alt=""></a>
              </div> -->

              <div class="post-entry">

<!-- my code
 -->


<ol class="list-group">

      <li class="list-group-item">
        <h5>Today's top 10 articles:</h5>
      </li>

      <br>

      <ul class="list-group">

        <% @country.articles.each_with_index do |article, index| %>
        <li class="list-group-item" id=<%= index %>>
        
          <%= link_to article.title, article.url, :target => "_blank", :class => "country-articles-links" %>. <br><%= button_tag "Add to Favorites", class: "add_to_favorites_articles btn btn-default", remote: true %>
          <%#= #button_tag "Save for Later", class: "save_for_later_countries"%>

        <!--  <input type="button" class="button" value="Add to Favorites" id="add_to_favorites_countries">
        <input type="button" class="button" value="Save for Later" id="save_for_later_countries"> -->
        </li>
        <% end %>
      
    </ul>
    </h5>

  </li>
</ol>


</div>
</div>
</div>
</div>
   <%= render template: "layouts/_footer" %>

</div>
</section>


